@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
:root {
  --white: #959595;
  --gray: #333333;
  --border-gray: #eeeeee;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}
li{
  list-style-type: none;
}


.container {
  max-width: 80%;
  margin: 0 auto;
}

.fonts-hover {
  transition: .3s;
}
.fonts-hover:hover{
  opacity: .7;
}

